<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登入</title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/base.css" />
	</head>


	<body>
		<div class="layout">
			<div class="logo">
				<img src="../img/logo.png" />
			</div>
			<div class="main">
				<form >
					<div class="mui-input-row">
						<label><span class="mui-icon mui-icon-person"></span></label>
						<input type="text" class="mui-input-clear" placeholder="请输入用户名">
					</div>
					<div class="mui-input-row">
						<label><span class="mui-icon mui-icon-locked"></span></label>
						<input type="password" class="mui-input-password" placeholder="请输入密码">
					</div>
					<div class="mui-button-row">
						<button type="button" class="mui-btn">登入</button>
					</div>
				</form>

			</div>
		</div>
	</body>

</html>